<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811457355325-9caevrc3kv080008ahs2gdk30ha94l7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811457355325-9caevrc3kv080008ahs2gdk30ha94l7j</string>
	<key>API_KEY</key>
	<string>AIzaSyBcCC_7qebJrrgsSehGRX20-RKU7twsgec</string>
	<key>GCM_SENDER_ID</key>
	<string>811457355325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.familyJobBoard</string>
	<key>PROJECT_ID</key>
	<string>family-job-board</string>
	<key>STORAGE_BUCKET</key>
	<string>family-job-board.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811457355325:ios:597af926b467321139d454</string>
</dict>
</plist>